<template name="payroll_navbar">
    <li class="{{isActiveRoute name='payroll.home'}}"><a href="{{pathFor 'payroll.home'}}">Home</a></li>

    {{#if isInRole 'data-insert,data-update,data-remove' 'Payroll'}}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Data <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="{{isActiveRoute name='payroll.customer'}}">
                    <a href="{{pathFor 'payroll.customer'}}">Customer</a>
                </li>
                <!--<li class="{{isActiveRoute name='payroll.order'}}">-->
                <!--<a href="{{pathFor 'payroll.order'}}">Order</a>-->
                <!--</li>-->
            </ul>
        </li>
    {{/if}}

    <!--Reports-->
    {{#if isInRole 'report' 'Payroll'}}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Reports <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="{{isActiveRoute name='payroll.customerReport'}}">
                    <a href="{{pathFor 'payroll.customerReport'}}">Customer (Browser View)</a>
                </li>
                <li class="{{isActiveRoute name='payroll.customerExcelReport'}}">
                    <a href="{{pathFor 'payroll.customerExcelReport'}}">Customer (Excel)</a>
                </li>
            </ul>
        </li>
    {{/if}}

    <!--Settings-->
    {{#if isInRole 'setting' 'Payroll'}}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Settings <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="{{isActiveRoute name='cpanel.exchange'}}">
                    <a href="{{pathFor 'cpanel.exchange'}}">Exchange</a>
                </li>
                <li class="{{isActiveRoute name='payroll.location'}}">
                    <a href="{{pathFor 'payroll.location'}}">Location</a>
                </li>
            </ul>
        </li>
    {{/if}}
</template>
