<!--Index-->
<template name="payroll_location">
    <p>
        <button type="button" class="btn btn-primary js-insert">{{fa "plus"}} Add New</button>
    </p>

    {{> tabular table=Payroll.TabularTable.Location selector=selector class=tabularClass}}
</template>

<!--Action-->
<template name="payroll_locationAction">
    {{#tabularAction}}
        <li><a href="#" class="js-update">{{fa "pencil"}} Edit</a></li>
        <li><a href="#" class="js-remove">{{fa "remove"}} Remove</a></li>
        <li><a href="#" class="js-show">{{fa "eye"}} Show</a></li>
    {{/tabularAction}}
</template>

<!--Insert-->
<template name="payroll_locationInsert">
    {{#autoForm collection=Payroll.Collection.Location id="payroll_locationInsert" type="insert"}}
        <div class="row">
            <div class="col-md-12">
                {{> afQuickField name='name'}}
            </div>
        </div>

        {{> alertifyFormFooterWithButton}}
    {{/autoForm}}
</template>

<!--Update-->
<template name="payroll_locationUpdate">
    <!--Custom template sub ready by name-->
    {{#if templateSubReady "subLocation"}}
        {{#autoForm collection=Payroll.Collection.Location id="payroll_locationUpdate" doc=data type="update"}}
            <div class="row">
                <div class="col-md-12">
                    {{> afQuickField name='name'}}
                </div>
            </div>

            {{> alertifyFormFooterWithButton}}
        {{/autoForm}}
    {{else}}
        {{> loading}}
    {{/if}}
</template>

<!--Show-->
<template name="payroll_locationShow">
    <!--Custom template sub ready by name-->
    {{#if templateSubReady "subLocation"}}
        {{#with data}}
            <dl class="dl-horizontal">
                <dt>Id</dt>
                <dd>{{_id}}</dd>
                <dt>Name</dt>
                <dd>{{name}}</dd>
            </dl>
        {{/with}}
    {{else}}
        {{> loading}}
    {{/if}}
</template>
